{:deps {snow {:git/url "https://github.com/entranceplus/snow"
              :sha "d2b9185d38f32e9abee054155f47f36411a5b6be"}
        voidwalker {:git/url "https://github.com/entranceplus/voidwalker"
                    :sha "fb9e877a362d52e61e348d9f2b7d5dea9208d6a9"}
        com.cemerick/friend {:mvn/version "0.2.3"}
        selmer {:mvn/version "1.11.7"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev"]}}}
