{:deps {snow {:mvn/version "0.4.10"}
        voidwalker {:git/url "https://github.com/entranceplus/voidwalker"
                    :sha "fb9e877a362d52e61e348d9f2b7d5dea9208d6a9"}
        com.cemerick/friend {:mvn/version "0.2.3"}
        selmer {:mvn/version "1.11.7"}}
 :paths ["src" "resources"]
 :aliases {:dev {:extra-paths ["dev"]}}}
