

{% extends "public/base.html" %}

{% block content %}


<!-- EXAM-INTRO -->
<section class="exam">
  <h1>{{title}}</h1>
  <p>{{subtitle}}</p>
</section>


<!-- EXAM-LIST -->
<section class="exam-list">
<div class="exam-list-container">
  <div class="list-container">
    <div class="list-heading">
      <p>1</p>
      <p>IIT Bombay</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p class="last-info-content-child"><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="list-heading">
      <p>2</p>
      <p>Chaitanya Bharti Institute of Technology</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p class="last-info-content-child"><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>
  
  <div class="list-container">
    <div class="list-heading">
      <p>47</p>
      <p>ABV Int. Institute of Information Technology</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p class="last-info-content-child"><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="list-heading">
      <p>5</p>
      <p>IIT Bombay</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="list-heading">
      <p>6</p>
      <p>Institute of Information Technology</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="list-heading">
      <p>7</p>
      <p>Institute of Information Technology</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="list-heading">
      <p>8</p>
      <p>RV College of Engineering</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="list-heading">
      <p>9</p>
      <p>IIT Bombay</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="list-heading">
      <p>10</p>
      <p>IIT Bombay Institute of Information Technology</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

  <div class="list-container">
    <div class="list-heading">
      <p>11</p>
      <p>IIT Bombay Institute of Information Technology</p>
    </div>
    <div class="list-info-container">
      <div class="list-info-content">
        <p><span>Location:</span> Mumbai</p>
        <p><span>MHRD Score:</span> 87.8</p>
        <p><span>Placement Score:</span> 95</p>
      </div>
      <div class="list-info-content">
        <p><span>Management/NRI Quota:</span> N/A</p>
        <p><span>Mode Of Entrance:</span> JEE Advance</p>
        <a class="last-info-content-child-a" href="#">Visit Website</a>
      </div>
    </div>
  </div>

</div>
</section>


{% endblock %}
