

{% extends "public/base.html" %}

{% block content %}


<!-- EXAM-INTRO -->
<section class="exam">
    <h1>{{title}}</h1>
    <p>{{subtitle}}</p>
</section>


<!-- EXAM-LIST -->
<section class="exam-list">
    
    <div class="list">
        <div class="list-heading">
            <p>1</p>
            <p>IIT Bombay</p>
        </div>
        <div class="list-content">
            <p><span>Location:</span> Mumbai</p>
            <p><span>MHRD Score:</span> 87.8</p>
            <p><span>Placement Score:</span> 95</p>
        </div>
        <div class="list-content">
            <p><span>Management/NRI Quota:</span> N/A</p>
            <p><span>Mode Of Entrance:</span> JEE Advance</p>
            <a href="">Visit Website</a>
        </div>
    </div>

    <div class="list">
        <div class="list-heading">
            <p>2</p>
            <p>Chaitanya Bharti Institute of Technology</p>
        </div>
        <div class="list-content">
            <p><span>Location:</span> Mumbai</p>
            <p><span>MHRD Score:</span> 87.8</p>
            <p><span>Placement Score:</span> 95</p>
        </div>
        <div class="list-content">
            <p><span>Management/NRI Quota:</span> N/A</p>
            <p><span>Mode Of Entrance:</span> JEE Advance</p>
            <a href="">Visit Website</a>
        </div>
    </div>
        
    <div class="list">
        <div class="list-heading">
            <p>3</p>
            <p>ABV Int. Institute of Information Technology</p>
        </div>
        <div class="list-content">
            <p><span>Location:</span> Mumbai</p>
            <p><span>MHRD Score:</span> 87.8</p>
            <p>Placement Score:</span> 95</p>
        </div>
        <div class="list-content">
            <p><span>Management/NRI Quota:</span> N/A</p>
            <p><span>Mode Of Entrance:</span> JEE Advance</p>
            <a href="">Visit Website</a>
        </div>
    </div>    
    
    <div class="list">
        <div class="list-heading">
            <p>4</p>
            <p>ABV Int. Institute of Information Technology</p>
        </div>
        <div class="list-content">
            <p><span>Location:</span> Mumbai</p>
            <p><span>MHRD Score:</span> 87.8</p>
            <p><span>Placement Score:</span> 95</p>
        </div>
        <div class="list-content">
            <p><span>Management/NRI Quota:</span> N/A</p>
            <p><span>Mode Of Entrance:</span> JEE Advance</p>
            <a href="">Visit Website</a>
        </div>
    </div>

    <div class="list">
        <div class="list-heading">
            <p>5</p>
            <p>ABV Int. Institute of Information Technology</p>
        </div>
        <div class="list-content">
            <p><span>Location:</span> Mumbai</p>
            <p><span>MHRD Score:</span> 87.8</p>
            <p><span>Placement Score:</span> 95</p>
        </div>
        <div class="list-content">
            <p><span>Management/NRI Quota:</span> N/A</p>
            <p><span>Mode Of Entrance:</span> JEE Advance</p>
            <a href="">Visit Website</a>
        </div>
    </div>

    <div class="list">
        <div class="list-heading">
            <p>67</p>
            <p>ABV Int. Institute of Information Technology</p>
        </div>
        <div class="list-content">
            <p><span>Location:</span> Mumbai</p>
            <p><span>MHRD Score:</span> 87.8</p>
            <p><span>Placement Score:</span> 95</p>
        </div>
        <div class="list-content">
            <p><span>Management/NRI Quota:</span> N/A</p>
            <p><span>Mode Of Entrance:</span> JEE Advance</p>
            <a href="">Visit Website</a>
        </div>
    </div>

    <div class="list">
        <div class="list-heading">
            <p>70</p>
            <p>ABV Int. Institute of Information Technology</p>
        </div>
        <div class="list-content">
            <p><span>Location:</span> Mumbai</p>
            <p><span>MHRD Score:</span> 87.8</p>
            <p><span>Placement Score: 95</p>
        </div>
        <div class="list-content">
            <p><span>Management/NRI Quota:</span> N/A</p>
            <p><span>Mode Of Entrance:</span> JEE Advance</p>
            <a href="">Visit Website</a>
        </div>
    </div>

    <div class="list">
        <div class="list-heading">
            <p>98</p>
            <p>ABV Int. Institute of Information Technology</p>
        </div>
        <div class="list-content">
            <p><span>Location:</span> Mumbai</p>
            <p><span>MHRD Score:</span> 87.8</p>
            <p><span>Placement Score:</span> 95</p>
        </div>
        <div class="list-content">
            <p><span>Management/NRI Quota:</span> N/A</p>
            <p><span>Mode Of Entrance:</span> JEE Advance</p>
            <a href="">Visit Website</a>
        </div>
    </div>
</section>

{% endblock %}
