{% extends "public/base.html" %}
{% block content %}

<!-- MENTORSHIP -->
<section class="mentorship">
  <div class="mentorship-intro">
    <h1>Mentorship</h1>
    <p>There are lot of such answers that a student doesn’t know while taking admissions , Entrance Plus provides mentorship and guidance about all such queries, provides tips and tricks in securing the best college possible. We have mentioned the different plans as per the requirement of the student below.</p>
  </div>

  <div class="mentor-ques">
    <div class="question">
      <p>What are the different colleges a student can get during spot counselling round in JEE?</p>
      <p>How can I change my branch after 1st year in college?</p>
    </div>
    <div class="college-img">
      <svg version="1.1"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="250px" height="250px" viewBox="0 0 250 250" enable-background="new 0 0 250 250" xml:space="preserve">
      <line class="svg-line" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" x1="30.338" y1="211.216" x2="216.584" y2="211.216"/>
      <rect class="svg-rect" x="62.123" y="90.026" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" width="122.677" height="121.19"/>
      <rect class="svg-rect" x="48.74" y="80.732" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" width="151.301" height="9.294"/>
      <rect class="svg-rect" x="55.524" y="71.439" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" width="137.732" height="9.294"/>
      <path class="svg-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M91.862,131.636c0,1.657-1.343,3-3,3H76.647c-1.657,0-3-1.343-3-3v-21.138c0-1.657,1.343-3,3-3h12.216c1.657,0,3,1.343,3,3V131.636z"/>
      <path class="svg-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M172.903,131.636c0,1.657-1.343,3-3,3h-12.216c-1.657,0-3-1.343-3-3v-21.138c0-1.657,1.343-3,3-3h12.216c1.657,0,3,1.343,3,3V131.636z"/>
      <path class="svg-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M172.903,178.476c0,1.657-1.343,3-3,3h-12.216c-1.657,0-3-1.343-3-3v-21.138c0-1.657,1.343-3,3-3h12.216c1.657,0,3,1.343,3,3V178.476z"/>
      <path class="svg-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M91.862,181.45c0,1.657-1.343,3-3,3H76.647c-1.657,0-3-1.343-3-3v-21.138c0-1.657,1.343-3,3-3h12.216c1.657,0,3,1.343,3,3V181.45z"/>
      <path class="svg-path" fill="none" stroke="#ffffff" stroke-width="2" stroke-miterlimit="10" d="M144.279,207.802v-71.375c0-11.497-9.32-20.818-20.818-20.818s-20.818,9.32-20.818,20.818v71.375c0,1.067,0.106,2.107,0.26,3.13h41.115C144.173,209.908,144.279,208.869,144.279,207.802z"/>
    </svg>
  </div>
    
  <div class="question">
    <p>Which is the best college for a particular branch?</p>
    <p>What are the colleges thats offer admissions through Management/NRI Quota?</p>
  </div>
  </div>
</section>


<!-- PACKAGE -->
<section class="mentorship-start-wrapper">
  <div class="mentorship-start">
  <h1>Get Started</h1>
  <p><img src="images/mentor/arrow-tick.svg">Get the student admitted to the selected collge through Management/NRI Quota.</p>
  <p><img src="images/mentor/arrow-tick.svg">One to one conversation with the student of the college you want to know about.</p>
  <p><img src="images/mentor/arrow-tick.svg">Get email,whatsapp and telephonic support from Entranceplus team within 24 hours</p>
  <div class="mentorship_button">
    <button onclick="startPayment()" class="sec-btn instamojo_button">Make Payment</button>
    <a href="/#contact-form" class="sec-btn">Contact Us</a>
  </div>
  </div>
</section>

<!-- Instamojo success msg -->
<div class="instamojo_msg instamojo_success">
    <div class="instamojo_msg__child instamojo_success__child">
    <p class="instamojo_close instamojo_success__close">X</p>
    <p>ThankYou, Your payment is Successful.</p> 
    <p>We will contact you in 12-24 hrs</p>
    </div>
</div>

<!-- Instamojo error msg -->
<div class="instamojo_msg instamojo_error">
    <div class="instamojo_msg__child instamojo_error__child">
        <p class="instamojo_close instamojo_error__close">X</p>
        <p>Payment Failed</p> 
    </div>
</div>

<script src="https://js.instamojo.com/v1/checkout.js"></script>
<script type="text/javascript">
var instamojo_success = document.querySelector('.instamojo_success');
var instamojo_error = document.querySelector('.instamojo_error');
var instamojo_success__close = document.querySelector('.instamojo_success__close');
var instamojo_error__close = document.querySelector('.instamojo_error__close');

instamojo_success__close.addEventListener('click',function(){
  instamojo_success.classList.remove('instamojo_msg__visible');
});

instamojo_error__close.addEventListener('click', function(){
  instamojo_error.classList.remove('instamojo_msg__visible');
});

//instamojo configuration
Instamojo.configure({
  handlers: {
    onSuccess: function (response) {
      // handle success here
      instamojo_success.classList.add('instamojo_msg__visible');
      console.log("Payment successfull");
    },
    onFailure: function (response) {
      // handle failure here
      instamojo_error.classList.add('instamojo_msg__visible');
      console.log("Error occured", response);
    }
  }
 });

 function startPayment() {
  // Instamojo.open('https://www.instamojo.com/@eptest/la9d8521ab43a4d2f966f1712179de67b/');
    Instamojo.open('https://www.instamojo.com/@eptest');
 }
</script>

{% endblock %}
