{% extends "public/base.html" %}

{% block content %}

<section id="home-landing">
    <div class="mob-landing-content mob-branch-change-content">
        <h1>Ultimate guide to Admissions</h1>
    </div>
    <div class="landing-branch-change">
      <p>To contact us for branch change in</p>
      <p>RV College of Engineering</p>
      <p>and</p>
      <p>BMS College of Engineering</p>
      <p class="branch-change-click"><a href="https://api.whatsapp.com/send?phone=+91-7019275652">Click Here</a></p>
    </div>
    <div class="avatar avatar-branch-change">
        <img class="avatar-top" src="images/home/avatar-top.svg">
        <img src="images/home/avatar-main.svg">
    </div>
</section>
{% endblock %}
