/*=====header common=====*/
#header{
  position: absolute;
  display: flex;
  align-items: center;
  width: 100%;
  height: 90px;
  justify-content: center;
  z-index: 100;
}
#header a{
  color: white;
  font-size: 20px;
  font-weight: 300;
}
.logo,
.nav-links,
.dropdown-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*=========logo=========*/
.logo img{
  width: 260px;
}


/*========nav-links========*/
.nav-links{
  margin-left: 120px;
}
.nav-links > li{
  margin: 0 10px;
  position: relative;
}
/*underline below links*/
.nav-links > li:after{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0px;
  height: 1px;
  background: transparent;
  transition: all 0.3s linear;
}
.nav-links > li:hover:after{
  width: 100%;
  background: white;
}
/*hide underline in mentor and dropdown*/
.nav-links > li.dropdown:after,
.nav-links > li.mentor-btn:after{
  display: none;
}


/*dropdown menu*/
.dropdown{
  position: relative;
}
.dropdown-menu{
  display: none;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  background: white;
  border-radius: 3px;
}
.dropdown-menu > li{
  width: 100%;
}
/*overriding #header a*/
#header .dropdown-menu a{
  font-size: 17px;
  color: #56b96b;
}
.dropdown-menu a{
  width: 100%;
  display: inline-block;
  padding: 10px;
  position: relative;
}
.dropdown-menu a:hover{
  background: #56b96b;
}
#header .dropdown-menu a:hover {
  color: white;
}
.dropdown:hover > .dropdown-menu{
  display: flex;
}

/* nested dropdown */
.dropdown-menu > li {
  border-bottom: 1px solid #dce4ec;
}
.dropdown-menu > li:last-child {
  border-bottom: none;
}
.dropdown-menu > li:first-child > a:hover{
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.dropdown-menu > li:last-child > a:hover{
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.dropdown-child {
  display: none;
}
.dropdown-child a {
  padding-left: 15px;
  padding-right: 15px;
}
.engineer-navlinks:hover > ul.dropdown-child,
.medical-navlinks:hover > ul.dropdown-child {
  display: block;
  position: absolute;
  left: 113px;
  top: 0px;
}


/*creating arrow \/*/
.dropdown > a{
  position: relative;
  padding-right: 15px;
}
.dropdown > a:before,
.dropdown > a:after{
  content: '';
  position: absolute;
  top: 12px;
  height: 2px;
  width: 8px;
  background: white;
}
.dropdown > a:before{
  transform: rotate(45deg);
  right: 2px;
}
.dropdown > a:after{
  transform: rotate(-45deg);
  right: -3px;
}


/*========mentor========*/
.mentor-btn a{
  display: inline-block;
  border: 1px solid white;
  padding: 7px 12px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.mentor-btn a:hover{
  background: #62d06d;
  border: 1px solid #62d06d;
}


/*========hamburger and phone-whatsapp-mob========*/
.hamburger,.close-btn{
  display: none;
}

/* hide nav-links header image */
.nav-links > li img {
  display: none;
}



@media(max-width: 1080px){
  #header{
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
  }
  /*nav-links*/
  .nav-links{
    display: flex;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    z-index: 1000;
    color: black;
    text-align: center;
    padding: 40px 0 5px;
    background: #272727;
    transform: translateY(100%);
    transition: transform 0.2s cubic-bezier(0, 0, 0.32, 1.12);
  }
  .nav-links.nav-open{
    transform: translate(0px);
  }
  /* bg overlay */
  .nav-links.nav-open ~ .hamburger:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255,255,255,0.5);
    z-index: 100;
  }
  /* image in navlinks in small devices */
  .nav-links > li img {
    display: inline-block;
    height: 50px;
  }
  .nav-links > li{
    margin: 5px;
    width: 120px;
    padding: 5px;
  }
  .nav-links a{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-links .mentor-btn a{
    border: none;
  }
  .nav-links a span{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  .nav-links .dropdown-menu {
    display: none;
  }

  .dropdown > a{
    padding: 0;
  }
  .dropdown > a:before, .dropdown > a:after,
  .nav-links > li:after {
    display: none;
  }
  .dropdown-menu{
    display: block;
    position: static;
    background: #e9fceb;
  }

  #header .dropdown-menu a{
    color: #6a6969;
    font-size: 16px;
  }
  .dropdown-menu a:hover {
    background: #ffffff;
  }


  /*hamburger*/
  .hamburger{
    display: inline-block;
    position: relative;
    top: -3px;
    cursor: pointer;
  }
  .hamburger > li{
    display: flex;
    color: white;
  }
  .hamburger p{
    margin: 0;
    font-size: 18px;
  }
  .hamburger div{
    position: relative;
    top: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .hamburger span{
    width: 25px;
    height: 2px;
    background: white;
    display: inline-block;
    margin: 2px 0;
  }

  /*close btn*/
  .close-btn{
    cursor: pointer;
    position: absolute;
    top: 12px;
    font-size: 17px;
    font-weight: 200;
    right: 12px;
    z-index: 100;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    background: rgba(255,255,255,0.3);
  }
  .close-btn.close-hamburger{
    display: block;
  }
}


@media(max-width: 600px) {
  #header{
    padding-left: 15px;
    padding-right: 15px;
  }

  /*logo*/
  .logo img{
    width: 200px;
  }

  /*hamburger*/
  .hamburger p{
    font-size: 17px;
    font-weight: 200;
  }
  .hamburger span{
    width: 20px;
    height: 1px;
  }
  .hamburger div{
    top: 3px;
    margin-left: 5px;
  }
}


@media(max-width: 380px){
  /*logo*/
  .logo img{
    width: 180px;
  }

  /*hamburger*/
  .hamburger p{
    font-size: 16px;
  }
  .hamburger div{
    top: 3px;
  }
}
