.mentorship{
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 150px 0 80px;
  background: linear-gradient(to right, #4372b9, #56ba70);
}

/*mentorship-intro*/
.mentorship-intro{
  width: 800px;
  margin: 0 auto;
  color: white;
}
.mentorship-intro h1{
  text-align: center;
  font-size: 60px;
  margin-bottom: 20px;
  font-family: 'Merriweather', serif;
}
.mentorship-intro p{
  font-size: 22px;
  line-height: 27px;
  font-weight: 300;
}

/*mentorship question asked*/
.mentor-ques{
  display: flex;
  justify-content: center;
  align-items: center;
}
.mentor-ques .question{
  width: 400px;
  margin: 0 15px;
}

/*4 questions para*/
.mentor-ques div p{
  background: white;
  padding: 10px;
  border-radius: 8px;
  font-weight: 200;
}

/*svg-animation house*/
.svg-line {
  animation: offset 2s linear forwards;
}
.svg-rect{
  animation: offset 2.5s linear forwards;
}
.svg-path {
  animation: offset 3s linear forwards;
}
.svg-line {
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
}
.svg-rect {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}
.svg-path {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
}
@keyframes offset {
  to {
    stroke-dashoffset: 0;
  }
}

/* package-getStarted */
.mentorship-start-wrapper {
  background: url(../images/mentor/ment-new.svg) no-repeat 100% 50%;
}
.mentorship-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 828px;
  margin: 0 auto;
  padding: 50px 0 100px;
  padding-right: 234px;
  justify-content: center;
}
.mentorship-start h1 {
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 25px;
}
.mentorship-start p {
  font-size: 22px;
  font-weight: 200;
}
.mentorship-start a{
  padding: 9px 20px;
  margin-top: 20px;
  background: #56ba78;
  border-radius: 25px;
  font-size: 20px;
  font-weight: 300;
  color: white;
  display: inline-block;
  box-shadow: 0 2px 4px 0 #307f4a;
  transition: all 0.2s ease-out;
}
.mentorship-start a:hover{
  transform: translateY(-3px);
  box-shadow: 0 9px 14px -5px #307f4a
}


@media(max-width: 900px){
  .mentorship-intro{
    width: 768px;
    padding: 0 30px;
  }
  .mentorship-intro p{
    text-align: center;
  }
  .mentor-ques {
    flex-direction: column;
  }
  /*college comes above before all questions*/
  .college-img{
    order: 1;
  }
  .question{
    order: 2;
  }

  .mentor-ques > div:last-child p{
    margin-top: 0;
  }

  /* package-getStarted */
  .mentorship-start-wrapper {
    background: url(../images/mentor/ment-new.svg) no-repeat 100% 50%;
    background-size: 370px;
    padding-left: 30px;
  }
  .mentorship-start {
    width: 600px;
  }
}


@media(max-width: 768px){
  .mentorship-intro{
    width: 600px;
  }
  .mentorship-intro h1{
    font-size: 80px;
  }

  /* package-getStarted */
  .mentorship-start-wrapper {
    background: url(../images/mentor/ment-new.svg) no-repeat 100% 50%;
    background-size: 300px;
    padding-left: 30px;
  }
}


@media(max-width: 600px) {
  .mentorship{
    padding-top: 100px;
  }
  .mentorship-intro{
    width: 100%;
  }
  .mentorship-intro h1 {
    font-size: 60px;
  }
  .question {
    padding: 0 15px;
  }

  /* package-getStarted */
  .mentorship-start-wrapper {
    background: url(../images/mentor/ment-new.svg) no-repeat 100% 5%;
    background-size: 50%;
    padding-left: 0;
  }
  .mentorship-start {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
  }
  .mentorship-start h1 {
    font-size: 45px;
  }
  .mentorship-start p {
    font-size: 20px;
  }
  .mentorship-start p img {
    width: 28px;
  }
}


@media(max-width: 380px) {
  .mentorship-intro h1{
    font-size: 45px;
  }
  .mentorship-intro{
    padding: 0 15px;
  }
  .mentor-ques .question{
    width: 100%;
  }
}
