#ranklist {
  background: #fcfcfc;
}

/*ranklist about 01. 02. 03*/
.ranklist-features {
  display: flex;
  justify-content: center;
}
.ranklist-features h6{
  position: relative;
  font-size: 22px;
  margin-left: 30px;
  margin-right: 30px;
  width: 300px;
  font-weight: 300;
  z-index: 1;
}

@media(max-width: 600px) {
  /*hide ranklist features*/
  .ranklist-features{
    display: none;
	}
}
