.exam{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  padding: 150px 0 80px;
  text-align: center;
  background: linear-gradient(to right, #4372b9, #56ba70);
  color: white;
}

.exam h1,.exam p{
  width: 800px;
}
.exam h1{
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 5px;
  font-family: 'Merriweather', serif;
}
.exam p{
  font-size: 22px;
  font-weight: 300;
  line-height: 27px;
}

/* examlist */
.exam-list{
  padding: 50px 18px;
  background: #f5f5f5;
}

.exam-list-container {
  margin-top: -120px;
  position: relative;
}
.list-container {
  width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 15px 18px;
  box-shadow: 0 2px 2px 0px #d8d8d8;
  margin-top: 12px;
  background: white;
  border-radius: 3px;
}
.list-heading {
  display: flex;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  color: #61d461; 
  font-weight: 900;
}
.list-heading p:first-child{
  font-size: 40px;
  color: black;
  margin-right: 15px;
}
.list-heading p {
  margin-top: 18px;
  margin-bottom: 18px;
}
.list-info-content {
  display: flex;
  justify-content: space-between;
  align-content: center;
  font-size: 18px;
}
.list-info-content span,.list-info-content a{
  font-weight: 200;
}

/*button in list*/
.list-info-content a{
  font-size: 17px;
  padding: 9px 22px;
  border-radius: 25px;
  color: black;
  border: 1px solid black;
  display: inline-block;
  transition: all 0.2s ease-out;
}
.list-info-content a:hover{
  background: #424141;
  color: white;
  border-color: #424141;
}
.list-info-content:last-child p {
  margin-bottom: 0;
}
@media(max-width: 900px) {
  .exam h1, .exam p{
    width: 720px;
  }
  .list-container {
    width: 720px;
  }
}
@media(max-width: 768px) {
  .exam h1, .exam p{
    width: 550px;
  }
  .list-container {
    width: 550px;
  }
  .list-info-content {
    flex-wrap: wrap;
  }
  .last-info-content-child-a {
    margin-top: 30px;
  }
}

@media(max-width: 600px) {
  .exam{
    padding-top: 100px;
  }
  .exam h1{
    font-size: 50px;
  }
  .exam h1, .exam p{
    width: 100%;
    padding: 0 15px;
  }
  .exam-list-container {
    margin-top: -90px;
  }
  .list-heading {
    margin-bottom: -20px;
  }
  .list-heading p:last-child {
    margin-right: 17px;
  }
  .list-heading p, .list-heading p:first-child {
    font-family: 'Libre Baskerville', serif;
    font-size: 23px;
    color: #3ac63a;
  }
  .list-heading p:first-child {
    color: #353535;
    /* text-decoration: underline; */
  }
  .list-container {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 10px;
  }
  .list-info-content {
    flex-direction: column;
  }
  .last-info-content p{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .last-info-content-child {
    margin-top: 20px;
  }
  .list-info-content:last-child p {
    margin-bottom: 15px;
  }
  .last-info-content-child-a {
    margin-top: 10px;
    width: 80%;
    margin: 10px auto 0;
    text-align: center;
  }
  .list-container {
    background: white url(/images/examlist/arrow-down.svg) no-repeat;
    background-position: 97% 26px;
  }
  .up-arrow {
    background: white url(/images/examlist/arrow-up.svg) no-repeat;
    background-position: 97% 26px;
  }
  .list-info-container {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s linear;
  }
  .collapse-ranklist {
    max-height: 500px;
    overflow: hidden;
    margin-top: 10px;
  }
}

@media(max-width: 380px) {
  .exam h1{
    font-size: 40px;
  }
  .list-heading{
    font-size: 30px;
  }
}
