/*=====header common=====*/
#header{
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  justify-content: center;
  z-index: 100;
}
#header.fixed-bg {
  background: white;
  border-bottom: 1px solid #e6e6e6;
}

#header a{
  color: white;
  font-size: 20px;
  font-weight: 300;
}
#header.fixed-bg a{
  color: #3b3b3b;
}

.logo,
.nav-links,
.dropdown-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*=========logo=========*/
.logo img{
  width: 260px;
}
.logo li:last-child {
  display: none;
}
.fixed-bg .logo li:first-child {
  display: none;
}
.fixed-bg .logo li:last-child {
  display: inline-block;
}


/*========nav-links========*/
.nav-links{
  margin-left: 120px;
}
.nav-links > li{
  margin: 0 10px;
  position: relative;
}

/* hover link color */
#header .nav-links > li:hover > a{
  color: #bcffb7;
}
#header.fixed-bg .nav-links > li:hover > a{
  color: #56b96b;
}
#header .nav-links > li.mentor-btn:hover > a {
  color: white;
}

.head_sublinks {
  display: flex;
  align-items: center;
}
.head_sublinks > li {
  margin: 0 10px;
}
.head_dropdown-menu {
  display: none;
}
.head__dropdown:hover > .head_dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  padding: 10px;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid transparent;
}
.fixed-bg .head__dropdown:hover > .head_dropdown-menu {
  border: 1px solid #dadada;
}
.dropdown-menu__heading {
  font-weight: 700;
  color: #585858;
  padding: 10px 0px;
}
.head_dropdown-menu > li {
  width: 100%;
  text-align: center;
  /* padding: 3px 0px; */
}
.head_dropdown-menu > li a {
  width: 100%;
  display: inline-block;
  padding: 5px 0;
  border-radius: 4px;
}
#header .head_dropdown-menu > li a:hover {
  background: #56b96b;
  color: white;
}
#header .head_dropdown-menu a {
  color: #585858;
  font-size: 16px;
}

/* arrow */
.head__dropdown > a{
  position: relative;
  padding-right: 13px;
  display: inline-block;
}
.head__dropdown > a:before{
  position: relative;
}
.head__dropdown > a:before,
.head__dropdown > a:after{
  content: '';
  position: absolute;
  top: 12px;
  height: 2px;
  width: 8px;
  background: white;
}
.head__dropdown > a:before{
  transform: rotate(45deg);
  right: 2px;
}
.head__dropdown > a:after{
  transform: rotate(-45deg);
  right: -3px;
}
/* arrow color when scrolling */
.fixed-bg .head__dropdown > a:before,
.fixed-bg .head__dropdown > a:after{
  background: black;
}


/*========mentor========*/
.mentor-btn a{
  display: inline-block;
  border: 1px solid white;
  padding: 7px 12px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}
.fixed-bg .mentor-btn a {
  border: 1px solid #3b3b3b;
}
.mentor-btn a:hover{
  background: #62d06d;
  border: 1px solid #62d06d;
}
#header.fixed-bg .mentor-btn a:hover {
  color: white;
}


/*========hamburger and phone-whatsapp-mob========*/
.hamburger,.close-btn{
  display: none;
}



@media(max-width: 1080px){
  #header{
    width: 100%;
    justify-content: space-between;
    padding: 0 30px;
  }
  /*nav-links*/
  .nav-links{
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 0;
    z-index: 1000;
    color: black;
    text-align: center;
    padding: 40px 0 5px;
    background: #272727;
    transform: translateX(100%);
    transition: transform 0.2s cubic-bezier(0, 0, 0.32, 1.12);
  }
  .nav-links.nav-open{
    transform: translate(0px);
  }

  /* dropdown-menu */
  .nav-links .dropdown-menu {
    display: none;
  }
  .dropdown:hover > .dropdown-menu {
    display: flex;
    position: absolute;
    top: 0;
    left: -114px;
  }
  
  /* bg overlay */
  .nav-links.nav-open ~ .hamburger:after {
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(75, 75, 75, 0.8);
    z-index: 100;
  }

  /* image in navlinks in small devices */
  .nav-links > li img {
    display: inline-block;
    height: 50px;
  }
  .nav-links > li{
    margin: 10px 0px;
    width: 120px;
  }
  .nav-links a{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  /* title under the image in menu */
  .nav-links a span{
    color: white;
    font-size: 16px;
    margin-top: 10px;
    text-transform: uppercase;
  }
  
  /* remove arrow \/ */
  .dropdown > a:before, 
  .dropdown > a:after {
    display: none;
  }
  /* remove padding from dropdown as arrow removed*/
  /* .dropdown > a{
    padding: 0;
  } */

  .nav-links {
    justify-content: flex-start;
    overflow-y: auto;
    /* background: #c9c8c8; */
    background: white;
    /* border-left: 1px solid #d1d1d1; */
    width: 200px;
  }
  .head_sublinks {
    flex-direction: column;
    align-items: flex-start;
    /* padding: 0 15px; */
    margin-bottom: 50px;
  }
  /* removing arrow */
  .head__dropdown > a:before, 
  .head__dropdown > a:after {
    display: none;
  }
  .head__dropdown:hover > .head_dropdown-menu {
    position: relative;
    display: flex;
    background: transparent;
    padding: 5px 10px 0px;
  }
  .fixed-bg .head__dropdown:hover > .head_dropdown-menu {
    border: 1px solid transparent;
  }
  #header a {
    color: black;
  }
  /* dropdown*/
  .head_dropdown-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: transparent;
    padding: 5px 10px 0px;
    border-radius: 0px;
    font-size: 13px;
    border: 1px solid transparent;
    margin-left: 6px;
  }
  .head_dropdown-menu > li {
    text-align: start;
  }
  #header .head_dropdown-menu > li a:hover {
    background: transparent;
    text-decoration: underline;
    color: #585858;
  }
  .head_sublinks > li {
    margin: 0;
    width: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 2px 2px 0px #dfdfdf;
    /* border-bottom: 1px solid #d1d1d1; */
  }

  /* arrow horizontal */
  .dropdown-menu__heading {
    position: relative;
  }
  .dropdown-menu__heading:before,
  .dropdown-menu__heading:after {
    content: '';
    position: absolute;
    top: 16px;
    left: -13px;
    height: 2px;
    width: 8px;
    background: #5d5d5d;
  }
  .dropdown-menu__heading:before{
    transform: rotate(45deg);
    right: 2px;
    top: 15px;
  }
  .dropdown-menu__heading:after{
    transform: rotate(-45deg);
    right: -3px;
    top: 20px;
  }

  /* overlay */
  .overlay {
    display: none;
  }
  .overlay-open {
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: absolute;
    z-index: 100;
    display: block;
    top: 0;
    left: 0;
  }


  /*hamburger*/
  .hamburger{
    display: inline-block;
    position: relative;
    top: -3px;
    cursor: pointer;
  }
  .hamburger > li{
    display: flex;
    color: white;
  }
  .fixed-bg .hamburger > li{
    color: black;
  }
  .hamburger p{
    margin: 0;
    font-size: 18px;
  }
  .hamburger div{
    position: relative;
    top: 2px;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
  }
  .hamburger span{
    width: 25px;
    height: 2px;
    background: white;
    display: inline-block;
    margin: 2px 0;
  }
  .fixed-bg .hamburger span {
    background: black;
  }
  /*close btn*/
  .close-btn{
    cursor: pointer;
    position: absolute;
    top: 12px;
    font-size: 17px;
    font-weight: 200;
    right: 12px;
    z-index: 100;
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    border-radius: 50%;
    line-height: 25px;
    background: rgba(0,0,0,0.3);
  }
  .close-btn.close-hamburger{
    display: block;
  }

  /* mentor button */
  .mentor-btn a {
    border: none;
    padding: 0;
  }
  /* remove hover green mentor btn */
  #header .mentor-btn a:hover {
    color: white;
  }

  /* changing the order of menu in mobile */
  .head_sublinks > li:nth-child(1) {
    order: 4;
  }
  .head_sublinks > li:nth-child(2) {
    order: 5;
  }
  .head_sublinks > li:nth-child(3) {
    order: 3;
  }
  .head_sublinks > li:nth-child(4) {
    order: 1;
  }
  .head_sublinks > li:nth-child(5) {
    order: 2;
  }
}


@media(max-width: 900px) {
  #header{
    height: 75px;
  }
}


@media(max-width: 600px) {
  #header{
    padding-left: 15px;
    padding-right: 15px;
  }

  /*logo*/
  .logo img{
    width: 200px;
  }

  /*hamburger*/
  .hamburger p{
    font-size: 17px;
    font-weight: 200;
  }
  .hamburger span{
    width: 20px;
    height: 1px;
  }
  .hamburger div{
    top: 3px;
    margin-left: 5px;
  }

}


@media(max-width: 380px){
  /*logo*/
  .logo img{
    width: 180px;
  }

  /*hamburger*/
  .hamburger p{
    font-size: 16px;
  }
  .hamburger div{
    top: 3px;
  }
}
