#home-landing{
  padding: 170px 0 80px;
  background: #55718e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/*content only for mobile*/
.mob-landing-content{
  display: none;
}

/*avatar*/
.avatar{
  position: relative;
  width: 420px;
}
.avatar img{
  width: 100%;
  animation: move-up-down 3s ease-in-out infinite;
}
@keyframes move-up-down{
  0%{
    transform: translateY(0px);
  }
  50%{
    transform: translateY(-30px);
  }
  100%{
    transform: translateY(0px);
  }
}
.avatar img.avatar-top {
  position: absolute;
  top: -75px;
  animation: avatarTop 3s ease-in-out infinite;
}
@keyframes avatarTop{
  0%{
    transform: translateY(-30px);
  }
  50%{
    transform: translateY(-20px);
  }
  100%{
    transform: translateY(-30px);
  }
}
.avatar:after{
  content: '';
  position: absolute;
  bottom: -65px;
  left: 107px;
  width: 200px;
  height: 60px;
  background: #4a637e;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 #364c63;
  animation: shadow 3s ease-in-out infinite;
}
@keyframes shadow{
  50%{
    width: 150px;
    left: 127px;
  }
  100%{
    width: 200px;
  }
}


/*landing content*/
.landing-content{
  width: 550px;
  margin-left: 70px;
}

.landing-content h1,
.mob-landing-content h1{
  font-size: 50px;
  font-weight: 400;
  font-family: 'Merriweather', serif;
}

.landing-content p{
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
}

@media(max-width: 1080px){
  .landing-content{
    margin-right: 15px;
    margin-left: 50px;
  }

  /*avatar*/
  .avatar{
    margin: 0 15px;
  }
  .avatar img {
    width: 420px;
  }
}



@media(max-width: 900px){
  #home-landing {
    flex-direction: column;
    padding-top: 100px;
  }

  /*content in mobile*/
  .mob-landing-content{
    display: block;
    text-align: center;
    width: 670px;
  }
  .mob-landing-content h1 {
    margin-bottom: 95px;
  }

  /*avatar*/
  .avatar{
    margin-top: 30px;
  }

  /*landing content*/
  .landing-content {
    width: 600px;
    margin-left: 0px;
    text-align: center;
  }
  .landing-content h1{
    display: none;
  }
  .landing-content p{
    margin-top: 90px;
  }
   
}



@media(max-width: 768px){
  .mob-landing-content{
    width: 500px;
  }

  .landing-content{
    width: 500px;
  }
}



@media(max-width: 600px) {
  /*mobile content*/
  .mob-landing-content{
    width: 100%;
    padding: 0 15px;
  }
  .mob-landing-content h1{
    font-size: 35px;
  }

  /*avatar*/
  .avatar{
    text-align: center;
  }
  .avatar:after{
    width: 40%;
    left: 29%;
  }
  @keyframes shadow{
    50%{
      width: 30%;
      left: 34%;
    }
    100%{
      width: 40%;
    }
  }
  .avatar {
    width: 80%;
    max-width: 420px;    
  }
  .avatar img {
    width: 100%;
  }
  
  /*landing content  */
  .landing-content{
    width: 100%;
    margin-right: 0;
    padding: 0 15px;
  }
  .landing-content a{
    font-size: 17px;
  }
}
